<h1>
  Something to host on Netlify. For free?
</h1>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item" (click)='showAbout = !showAbout' href='javascript:{}'>Action</a>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


@if (showAbout) {
I think I'll use this more for some practice.
}